#company__name-letter-1 {
    margin-left: 10px;
    color: #d9d918;
}
#company__name-letter-2 {
    color: #1879d9;
}
#company__name-letter-3 {
    color: #18d9b9;
}
#company__name-letter-4 {
    color: #d9d918;
}
#company__name-letter-5 {
    color: #18cdd9;
}
#company__name-letter-7 {
    color: #18d9b9;
}
#company__name-letter-8 {
    color: #d9186a;
}
#company__name-letter-9 {
    color: #1879d9;
}
#company__name-letter-10 {
    color: #d9d918;
}
#company__name-letter-11 {
    color: #d9186a;
}
#company__name-letter-12 {
    color: #18d9b9;
}
#company__name-letter-13 {
    color: #a61069 
}